name: sili

services:
  core:
    container_name: sili-core
    platform: linux/amd64
    build:
      context: .
      dockerfile: ./docker/sili-core.dockerfile
    command: ['/bin/bash', '-c', 'bun install --frozen-lockfile && bun start']
    mem_limit: 1.5g
    restart: always
    networks:
      sili-network:
        aliases:
          - core.sili.local
    # ports:
    #   - '3100:3100'
    volumes:
      # 主要的 Node.js 项目文件
      - ./src/:/app/src
      - ./package.json:/app/package.json
      - ./bun.lock:/app/bun.lock
      - ./tsconfig.json:/app/tsconfig.json
      - ./.npmrc:/app/.npmrc
      - ./.env:/app/.env
      # koishi自带的data文件夹
      - ./.volumns/core:/app/data
      # 缓存文件夹
      - /root/.cache/puppeteer
    depends_on:
      - mongo

  mongo:
    container_name: sili-mongo
    image: mongo:8.0-noble
    mem_limit: 256m
    networks:
      sili-network:
        aliases:
          - mongo.sili.local
    restart: always
    ports:
      # 我们暴露此端口到宿主机，这样就能通过 MongoDB Compase 等应用连接它
      - '27017:27017'
    # 暂时不设密码，注意配置防火墙，不能将此端口暴露到公网
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: ${DB_MONGO_USER}
    #   MONGO_INITDB_ROOT_PASSWORD: ${DB_MONGO_PASSWORD}
    volumes:
      - mongo_data:/data/db

  # https://github.com/NapNeko/NapCat-Docker
  napcat:
    container_name: sili-napcat
    image: mlikiowa/napcat-docker:latest
    networks:
      sili-network:
        aliases:
          - napcat.sili.local
    restart: always
    # environment:
    #   - NAPCAT_UID=${NAPCAT_UID:-1000}
    #   - NAPCAT_GID=${NAPCAT_GID:-1000}
    mem_limit: 1g
    ports:
      - 3080:6099
    volumes:
      - qqnt_data:/app/.config/QQ
      - ./.volumns/napcat:/app/napcat/config

networks:
  sili-network:
    name: sili-network
    external: true

volumes:
  mongo_data:
    name: sili_mongo_data
  qqnt_data:
    name: sili_qqnt_data
